/* Header */

.home-hero {
  height: 464px;
  background: url(../img/biker.jpg) no-repeat;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 2000px rgba(51, 153, 204, 0.38);
  text-align: center;
}

#hero-footer {
  height: 280px;
  background: url(../img/hero-footer-bg.jpg) no-repeat;
  box-shadow: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-footer h1.headline.home {
  margin-top: 0px;
}

@media (min-width: 768px) {
  .home-hero {
    background-size: 100% auto;
    background-position: center top;
  }
}

@media (max-width: 767px) {
  .home-hero {
    background-size: auto 100%;
    background-position: center right;
  }
}

.header.home {
  background-color: transparent;
}

.logo.white {
  background-image: url(../img/logo-white.png);
}

h1.headline.home {
  font-family: adelle, serif;
  font-style: normal;
  font-weight: 400;
  margin-top: 150px;
}

h2.intro-header {
  text-align: center;
}

a.menu.home {
  color: white;
}

a.button.cta {
  font-size: 18px;
  background-color: #ff9900;
  color: white;
  margin-top: 25px;
}

a.button.cta:active {
  background-color: #e58a00;
}

.intro {
  height: 296px;
  display: flex;
  align-items: center;
}




/* Cards */

.card {
  height: 272px;
  background-color: #23a0e0;
  color: white;
  text-align: center;
  padding: 20px;
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-icon {
  font-size: 72px;
  flex: 1 1 auto;
  display: flex;
  align-items: flex-end;
}

.card-icon i {
  margin-bottom: 10px;
}

#icon-engage,
#icon-outcomes {
  display: block;
  width: 72px;
  height: 72px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#icon-engage {
  background-image: url(../img/icon-engage.png);
}

#icon-outcomes {
  background-image: url(../img/icon-outcomes.png);
}

.card-desc {
  flex: 1 1 auto;
  display: flex;
}

.card-desc-h5 {
  font-size: 20px;
  text-transform: uppercase;
}

.card-desc-p {
  font-weight: 300;
  font-size: 12px;
}


/* Value Proposition */

.value-prop {
  height: 530px;
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.3);
}

.value-prop-copy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 0px 20px;
}

.value-prop-h2 {
  padding-bottom: 48px;
}

.value-icon {
  text-align: center;
  font-size: 26px;
  color: #ffa622;
  padding-right: 20px;
}

.value-headline {
  font-weight: 300;
  font-size: 24px;
}

.value-detail {
  font-size: 14px;
  padding-bottom: 32px;
}

.value-prop-img {
  height: inherit;
}

.value-prop-img.engage {
  background-position-x: center;
  background-position-y: 100%;
  background-size: auto 475px;
  background-repeat: no-repeat;
  background-image: url(../img/value-prop-engage.png);
}

.value-prop-img.productivity {
  background-position-x: center;
  background-position-y: 100%;
  background-size: auto 475px;
  background-repeat: no-repeat;
  background-image: url(../img/value-prop-productivity.png);
}

.value-prop-img.outcomes {
  background-position-x: right;
  background-position-y: 50%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url(../img/value-prop-outcomes.png);
}


@media (max-width:767px) {
  .value-prop-h2 {
    padding-bottom: 24px;
  }

  .value-prop.engage {
    height: 940px;
  }

  .value-prop-copy.engage {
    height: 460px;
  }

  .value-prop-img.engage {
    height: 480px;
  }

  .value-prop.outcomes {
    height: 670px;
  }

  .value-prop-copy.outcomes {
    height: 400px;
  }

  .value-prop-img.outcomes {
    height: 230px;
    background-size: 310px auto;
    background-repeat: no-repeat;
    background-image: url(../img/value-prop-outcomes.png);
  }

  .value-prop.productivity {
    height: 890px;
  }

  .value-prop-copy.productivity {
    height: 410px;
  }

  .value-prop-img.productivity {
    height: 480px;
  }
}

@media screen and (min-width: 900px) {
  h1.headline.home {
    font-size: 40px;
  }
}

@media screen and (max-width: 899px) {
  h1.headline.home {
    font-size: 30px;
  }
}

@media screen and (max-width: 660px) {
  h1.headline.home {
    font-size: 20px;
  }

  .value-headline {
    font-weight: 300;
    font-size: 18px;
  }
}

@media screen and (max-width: 440px) {
  h1.headline.home {
    font-size: 16px;
  }
}