/* Open Sans Light - font-weight: 300 */
/* Open Sans Regular - font-weight: 400 */
/* Open Sans Bold - font-weight: 700 */

body {
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666666;
}

p {
  margin: 0;
}

h2 {
  font-weight: 300;
  font-size: 36px;
  margin: 0;
  margin-bottom: 10px;
}

/* @screen-xs-max */
@media (max-width: 767px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-size: 18px;
}

h1.headline {
  color: white;
  text-align: center;
  font-family: adelle, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
}

/* custom - 540 */
@media (max-width: 540px) {
  h1.headline {
    font-size: 36px;
  }
}

/* custom - 400 */
@media (max-width: 400px) {
  h1.headline {
    font-size: 28px;
  }
}

h2.headline-sub {
  font-weight: 400;
  color: white;
  font-size: 24px;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
}

/* @col-xs-max */
@media (max-width: 767px) {
  h2.headline-sub {
    font-size: 18px;
  }
}

/* custom - 540 */
@media (max-width: 540px) {
  h2.headline-sub {
    font-size: 14px;
  }
}

/* custom - 440 */
@media (max-width: 440px) {
  h2.headline-sub {
    font-size: 12px;
  }
}

p.info {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 0px;
}

/* .screen-xs-max */
@media (max-width: 767px) {
  p.info {
    font-size: 14px;
    line-height: 18px;
  }
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.header.shadow {
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.3);
}

.header-logo {
  flex: 0 1 auto;
  align-self: center;
  display: flex;
}

.header-menu {
  flex: 1 1 auto;
  text-align: right;
  height: inherit;
}

.header-menu-regular {
  height: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

a.menu {
  color: #2aa2e0;
  font-size: 12px;
  font-weight: 700;
  padding: 0px 16px;
  text-transform: uppercase;
  text-decoration: none;
}

a.menu:hover,
a.menu:active,
a.menu:focus {
  text-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
}

a.menu.active {
  text-decoration: underline;
  cursor: default;
}

a.menu.active:hover,
a.menu.active:active,
a.menu.active:focus {
  text-shadow: none;
}

a.button {
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  padding: 12px 15px;
  text-decoration: none;
}

a.button.standard {
  background-color: white;
  border: 2px solid #1f96dc;
  color: #1f96dc;
  font-weight: 700;
  font-size: 16px;
  padding: 12px 28px;
}

a.button:hover,
a.button:active,
a.button:focus {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
}

a.button.menu {
  background-color: #3399cc;
  color: white;
  padding: 6px 18px;
  margin-left: 16px;
}

a.button.menu:active {
  background-color: #2e8ab8;
}

a.logo {
  display: inline-block;
  cursor: pointer;
  background-image: url(../img/logo.png);
  width: 80px;
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0px 30px;
  font-size: 0;
  color: transparent;
}

a.logo.white {
  background-image: url(../img/logo-white.png);
}

/* Bootstrap Hamburger Menu */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #2aa2e0;
}

.navbar-toggle-wrapper {
  position: relative;
  width: 60px;
  height: 60px;
  left: 30px;
}

.navbar-collapse-wrapper {
  position: relative;
  width: 100px;
  height: 400px;
  right: 3px;
  bottom: 15px;
}

/* Intro */
.title {
  padding: 20px 1v0px;
  text-align: center;
  height: 184px;
  background: url(../img/blue-bg.jpg) no-repeat;
  box-shadow: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Info panel for Pricing/Contact */
.info-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 142px;
}
