/* Open Sans Light - font-weight: 300 */
/* Open Sans Regular - font-weight: 400 */
/* Open Sans Bold - font-weight: 700 */

body {
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666666;
}

h2 {
  font-weight: 300;
  font-size: 36px;
  margin: 0;
  margin-bottom: 10px;
}

/* .screen-xs-max */
@media (max-width: 767px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-size: 18px;
}

h1.headline {
  color: white;
  text-align: center;
  font-family: adelle, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4m8px;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
}

p.info {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
}

/* .screen-xs-max */
@media (max-width: 767px) {
  p.info {
    font-size: 14px;
    line-height: 18px;
  }
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.header-logo {
  flex: 0 1 auto;
  align-self: center;
  display: flex;
}

.header-menu {
  flex: 1 1 auto;
  text-align: right;
  height: inherit;
}

.header-menu-regular {
  height: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

a.menu {
  color: #0066cc;
  font-size: 12px;
  font-weight: 700;
  padding: 0px 16px;
  text-transform: uppercase;
  text-decoration: none;
}

a.button {
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  padding: 12px 15px;
  text-decoration: none;
}

a.button:hover {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
}

a.button.menu {
  background-color: #3399cc;
  color: white;
  padding: 6px 18px;
}

a.button.menu:active {
  background-color: #2e8ab8;
}

a.logo {
  display: inline-block;
  cursor: pointer;
  background-image: url(../img/logo.png);
  width: 80px;
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0px 30px;
  font-size: 0;
  color: transparent;
}

a.logo.white {
  background-image: url(../img/logo-white.png);
}


/* FOOTER */
.row.footer {
  background-color: #2aa2e0;
  color: white;
}

.footer-column {
  height: 148px;
  padding: 36px;
  padding-bottom: 24px;
}

.footer a {
  color: white;
  font-size: 12px;
}

.footer a:hover,
.footer a:focus {
  color: white;
  text-decoration: none;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
}

.footer-right {
  text-align: right;
}


/* Footer - Company */
.footer-column.company {
  display: flex;
  flex-direction: column;
}

a.logo.footer {
  display: block;
  width: 65px;
  height: 36px;
  margin: 0;
  font-size: 0;
  color: transparent;
}

.footer-copyright {
  padding-top: 10px;
  font-size: 11px;
}


/* Footer - Nav */
.footer-column.nav {
  float: right;
  text-align: right;
  width: 320px;
}

.footer-column.nav a {
  padding: 0px 8px;
}

.footer-column.nav a.last {
  padding-right: 0px;
}

.footer-column.nav a.first {
  padding-left: 0px;
}

/* .screen-xs-max */
@media (max-width: 767px) {
}


/* Footer - Contact */
.footer-column.contact {
  padding-left: 0;
  width: 240px;
  float: right;
  text-align: left;
}

.footer-column-contact-divider {
  display: inline-block;
  height: 100%;
  width: 1px;
  border-left: 1px solid white;
  box-sizing: border-box;
  margin-right: 35px;
}

.footer-column-contact-content {
  display: inline-block;
  vertical-align: top;
}

.footer-column-contact-content-row {
  margin-bottom: 12px;
}

.footer i {
  color: white;
  margin-right: 8px;
}

.footer i.social {
  font-size: 1.5em;
}

/* .screen-xs-max */
@media (max-width: 767px) {
  .footer-column-contact-divider {
    border: 0;
  }

  .footer-column.company {
    height: auto;
  }

  .footer-column.nav,
  .footer-column.contact {
    padding-top: 0px;
    height: auto;
    text-align: left;
    width: 100%;
  }
}